---
layout: default
---
<div class="container main">
  <div class="row">
    <header>
      <div><center><h1>{{ site.title }}</h1></center></div>
      <center>
          <span class="big-ornament">
              <img  src="assets/collatz.png" style="width:200px;height:252px">
        </span>
      </center>
    </header>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 offset-md-1">
      {% assign categories = site.categories | sort %}
      {% for category in categories %}
        {% assign category_name = category | first %}
        {% assign category_posts = category | last %}
        <h3>{{ category_name }}</h3>
        <ul class="toc">
          {% for post in category_posts %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="leader" aria-hidden="true"></span>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %b %Y" }}</time>
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
