---
layout: default
---
<div class="container main">
  <div class="row">
    <header>
      <div><center><h1>{{ site.title }}</h1></center></div>
      <center>
          <span class="big-ornament">
              <img  src="assets/collatz.png" style="width:200px;height:252px">
        </span>
      </center>
    </header>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 offset-md-1">
      {% assign categories = site.categories | sort %}
      {% for category in categories %}
        <h3>  {{ category | first }}</h3>
        <p>{% for posts in category offset:1 %}
                    {% for post in posts %}
            <a>{{ post.index }}</a> 
            {{forloop.index}}. <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {% if forloop.last == false %} &nbsp;&nbsp;{% endif %}  
            {% endfor %} {% endfor %} </p>
        {% endfor %} 
    </div>
  </div>
</div>
