---
layout: default
---
<div class="container main">
  {% include navbar.html %}
  <div class="row justify-content-center">
    <header class="col-md-12 text-center">
      <h1>{{ site.title }}</h1>
      <img src="assets/collatz.png" alt="" style="width:200px;height:252px">
    </header>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% assign categories = site.categories | sort %}
      {% for category in categories %}
        {% assign category_name = category | first %}
        {% assign category_posts = category | last %}
        <h3 class="mt-4">{{ category_name }}</h3>
        <p>{% for post in category_posts %}{{ forloop.index }}.&nbsp;<a class="mr-2" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>{% endfor %}</p>
      {% endfor %}
    </div>
  </div>
</div>
